
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Common styles */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

/* Header styles */
header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

/* Page styles */
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Homepage styles */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

/* Workout details styles */
.workout-details {
  background: #fff;
  border-radius: 8px; /* Different border-radius */
  margin: 20px auto;
  padding: 15px; /* Different padding */
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Different box-shadow */
}

.workout-details h4 {
  margin: 0 0 15px 0; /* Different margin */
  font-size: 1.3em; /* Different font size */
  color: var(--error); /* Different color */
}

.workout-details p {
  margin: 0;
  font-size: 1em; /* Different font size */
  color: #777; /* Different color */
}

.workout-details span {
  position: absolute;
  top: 25px; /* Different top position */
  right: 15px; /* Different right position */
  cursor: pointer;
  background: var(--primary); /* Different background color */
  padding: 8px; /* Different padding */
  border-radius: 5px;
  color: #fff; /* Different color */
}

/* New workout form styles */
label,
input {
  display: block;
}

input {
  padding: 12px; /* Different padding */
  margin-top: 8px; /* Different margin-top */
  margin-bottom: 18px; /* Different margin-bottom */
  width: 95%; /* Different width */
  border: 2px solid #ddd; /* Different border */
  border-radius: 6px; /* Different border-radius */
  box-sizing: border-box;
}

form button {
  background: #333; /* Different background color */
  border: 1px solid #333; /* Different border color */
  color: #fff;
  padding: 12px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
}

div.error {
  padding: 12px; /* Different padding */
  background: #ffefef;
  border: 2px solid var(--error);
  color: var(--error);
  border-radius: 6px;
  margin: 18px 0; /* Different margin */
}

input.error {
  border: 2px solid var(--error);
}
